<div class="password-form rounded-lg max-w-19.6 container mx-auto pt-5">
  <label for="password">Password:</label>
  <input type="password" id="password" [(ngModel)]="password">
</div>
<div class="password-strength">
  <div [ngClass]="{ 'blank': strength === 'blank','ckeck-length': strength === 'ckeck-length', 'easy': strength === 'easy','medium': strength === 'medium', 'strong': strength === 'strong' }"></div>
  <div [ngClass]="{ 'blank': strength === 'blank','ckeck-length': strength === 'ckeck-length','medium': strength === 'medium', 'strong': strength === 'strong' }"></div>
  <div [ngClass]="{ 'blank': strength === 'blank','ckeck-length': strength === 'ckeck-length','strong': strength === 'strong' }"></div>
</div>
